#MOMOApp {
    opacity: 1!important;
    visibility: visible!important;
}

.payment_method_momo {
    width: 100%;
}
.payment_method_momo .brand_logo {
    width: 250px;
    height: auto;
}
/* .payment_method_momo input {
    width: 90%;
} */

.my-2 {
  margin-top: .5rem!important;
  margin-bottom: .5rem!important;
}

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-.5 * var(--bs-gutter-x));
  margin-left: calc(-.5 * var(--bs-gutter-x));
}

@media (min-width:768px) {
  .align-items-md-center {
    align-items: center!important;
  }
}

.row > * {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * .5);
  padding-left: calc(var(--bs-gutter-x) * .5);
  margin-top: var(--bs-gutter-y);
}

.flex-column {
  flex-direction: column!important;
}

@media (min-width:768px) {
  .d-md-flex {
    display: flex!important;
  }
}

@media (min-width:768px) {
  .justify-content-md-center {
    justify-content: center!important;
  }
}

.mb-1 {
  margin-bottom: .25rem!important;
}

img, svg {
  vertical-align: middle;
}

.text-center {
  text-align: center!important;
}

.form-control {
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background-clip: padding-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: .25rem;
}

button, input, optgroup, select, textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.form-control:focus {
  outline: 0;
  box-shadow: 0 0 0 .25rem rgba(13,110,253,.25);
}

.me-2 {
  margin-right: .5rem!important;
}

.form-label {
  margin-bottom: .5rem;
}

.fw-bold {
  font-weight: 700!important;
}

.position-relative {
  position: relative!important;
}

.my-2 {
  margin-top: .5rem!important;
  margin-bottom: .5rem!important;
}

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-bottom: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-.5 * var(--bs-gutter-x));
  margin-left: calc(-.5 * var(--bs-gutter-x));
}

.align-items-center {
  align-items: center!important;
}

.row > * {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * .5);
  padding-left: calc(var(--bs-gutter-x) * .5);
  margin-top: var(--bs-gutter-y);
}

.payment_method_momo .col-half, .payment_method_momo .col-full {
  display: block;
  width: 100%;
}
@media (min-width:768px) {
  .payment_method_momo .col-half {
    flex: 0 0 auto;
    width: 45%;
  }
}

.flex-column {
  flex-direction: column!important;
}

.d-flex {
  display: flex!important;
}

.flex-wrap {
  flex-wrap: wrap!important;
}

.justify-content-center {
  justify-content: center!important;
}

.mb-1 {
  margin-bottom: .25rem!important;
}

img, svg {
  vertical-align: middle;
}

.text-center {
  text-align: center!important;
}

.form-control {
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

button, input, optgroup, select, textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.me-2 {
  margin-right: .5rem!important;
}

.form-label {
  margin-bottom: .5rem;
}

.fw-bold {
  font-weight: 700!important;
}

.position-relative {
  position: relative!important;
}

.w-250 {
  max-width: 250px;
}

.my-3 {
  margin-top: 1rem!important;
  margin-bottom: 1rem!important;
}